<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Erin ❤ James</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/grayscale.css" rel="stylesheet">
  <style>
    .google-maps {
        position: relative;
        padding-bottom: 35%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
  </style>

</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Erin & James</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{HomeLink}}">Home</a>
            </li>
            </ul>
        </div>
    </div>
  </nav>

  <!-- Projects Section -->
  <section id="#details" class="projects-section bg-light">
    <div class="container">
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="text-center text-lg-right">
            <h4> Manor – Town (~15min drive)</h4>
            <a href = "">More Details</a>
            <p class="text-black-50 mb-0">Prices From: $220 Night</p>
            <p class="text-black-50 mb-0">Four star accommodation, 20 suites with enough rooms for 60 people </p>
          </div>
        </div>
        <div class="col-xl-1">

        </div>
        <div class="col-xl-7 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="../static/img/MarybrookeManor.jpg" alt="">
        </div>
      </div>
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-7 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="../static/img/ComoCottage.jpg" alt="">
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-4 col-lg-5">
          <div class="text-center text-lg-left">
            <h4>Cottage - Town (~15min drive)</h4>
            <a href = "">More Details</a>
            <p class="text-black-50 mb-0">Prices From: $400 Night - Includes Breakfast</p>
            <p class="text-black-50 mb-0">Multi award winning, close to shops, cafes, day spas, forest walks, parks and gardens.</p>
          </div>
        </div>
      </div>
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="text-center text-lg-right">
            <h4>Cottages - Village (~15min drive)</h4>
            <a href = "">More Details</a>
            <p class="text-black-50 mb-0">Prices From: $200 Night</p>
            <p class="text-black-50 mb-0">5 unique contemporary lodgings, each cottage is available individually,
              combined or as an entire venue for large group bookings.</p>
          </div>
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-7 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="../static/img/EmeraldStarCottage.jpg" alt="">
        </div>
      </div>
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-7 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="../static/img/CambridgeCottage.jpg" alt="">
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-4 col-lg-5">
          <div class="text-center text-lg-left">
            <h4> Cottages - Town (~16mins drive)</h4>
            <a href = "">More Details</a>
            <p class="text-black-50 mb-0">Prices From: $300 Night</p>
            <p class="text-black-50 mb-0">Four star accommodation, 20 suites with enough rooms for 60 people </p>
          </div>
        </div>
      </div>
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-4 col-lg-5">
              <div class="text-center text-lg-right">
                <h4>Want to Look for yourself?</h4>
                <a href = "https://www.airbnb.com">Airbnb's in Area</a><p></p>
                <a href = "https://www.booking.com">Booking.com in Area</a>
              </div>
          </div>
          <div class="col-xl-1"></div>
          <div class="col-xl-7 col-lg-6">
            <img class="img-fluid mb-3 mb-lg-0" src="../static/img/standingsky.jpg" alt="">
          </div>
        </div>
    </div>
    
  </section>


  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Made with ❤ by jamesauchters
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/grayscale.min.js"></script>

</body>

</html>
