<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Erin ❤ James</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/grayscale.css" rel="stylesheet">
  <style>
    .google-maps {
        position: relative;
        padding-bottom: 35%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
  </style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Erin & James</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#details">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#RSVP">RSVP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../locations/{{userCode}}">Local Accomodation</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>

  <!-- Header -->
  <header class="masthead" style="background:  url(../static/img/Sunset.jpg);background-size:cover">
    <div class="container d-flex h-50 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">You're Invited!</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ People1 }}, we would love it if you could come to our wedding.</h2>
      </div>
    </div>
  </header>

  <!-- Projects Section -->
  <section id="details" class="projects-section bg-light">
    <div class="container">
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        
        
        <div class="col-xl-4 col-lg-5">
          <div class="text-center text-lg-right">
            <h4>Who</h4>
            <p class="text-black-50 mb-0">Homer Simpson & Marge Simpson met while they were in high school.</p>
            <p></p>
            <p class="text-black-50 mb-0">It's been almost 20 years and they are finally taking the big leap!</p>
          </div>
        </div>
        <div class="col-xl-1">

        </div>
        <div class="col-xl-7 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="../static/img/runninggreen.jpg" alt="">
        </div>
      </div>
      </br>
      </br>
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-7 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="../static/img/back.jpg" alt="">
        </div>
        <div class="col-xl-1">

        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="text-center text-lg-left">
            <h4>When</h4>
            <p class="text-black-50 mb-0"><b>Febuary 22nd, 2020</b></p>
            <p class="text-black-50 mb-0">You would think that all those two's would make it easy to remember. Somehow Homer still gets it wrong!</p>
            <p></p>
            <p class="text-black-50 mb-0">Arrive at <b>3:30PM</b> for a 4:00PM start. We wouldn't want you to miss it!</p>
          </div>
        </div>
      </div>
    </br>
  </br>
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="text-center text-lg-right">
            <h4>Where</h4>
            <p class="text-black-50 mb-0">Homer and Marge are stoked to have found such a beautiful venue, only 50 minutes from the CBD.</p>
            <p class="text-black-50 mb-0"><br/>Address: 21 jump street</p>
          </div>
        </div>
        <div class="col-xl-1">

        </div>
        <div class="col-xl-7 col-lg-6 google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d402586.8469564321!2d144.77296465515235!3d-37.97223425079441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20VIC!5e0!3m2!1sen!2sau!4v1582635256468!5m2!1sen!2sau width="740" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </br>
    </br>
    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-7 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="../static/img/standingsky.jpg" alt="">
      </div>
      <div class="col-xl-1"></div>
      <div class="col-xl-4 col-lg-5">
        <div class="text-center text-lg-left">
          <h4>Gifts</h4>
          <p class="text-black-50 mb-0">Your presence at our wedding is honestly the best present we could ask for. If you did wish to contribute to our honeymoon, we’ll have a wishing well there on the day. Love and thanks.</p>
        </div>
      </div>
    </div>
    </br>
    </br>
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
            <div class="text-center text-lg-right">
              <h4>Accomodation</h4>
              <p class="text-black-50 mb-0">For those of you who need to travel and would like to stay close, we've collated a list of places nearby.</p>
              <a class="js-scroll-trigger" href="../locations">Tell me more</a>
            </div>
          </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-7 col-lg-6">
            <img class="img-fluid mb-3 mb-lg-0" src="../static/img/laughing.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- Signup Section -->
  <section id="RSVP" class="signup-section" style="background:  url(../static/img/hands2.jpg);background-size:cover">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-heart fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Can You Make It?</h2>
          <p class="text-white mb-5" >{{ People2 }}</p> 
          <form {{ NoForm }} action="/RSVP" method="POST" >
            <div class="form-group">
              <textarea class="form-control" id="comment" name="comment" rows="3" placeholder="{{ commentmessage }}"></textarea>
            </div>
            <input type="hidden" id="userCode" name="userCode" value="{{ userCode }}">
            <button type="submit" class="btn btn-primary mx-auto" name="action" value="Yes">Yes</button>
            <button {{ hide }} type="submit" class="btn btn-primary mx-auto" name="action" value="YesNo">Yes, but not all of us</button>
            <button type="submit" class="btn btn-primary mx-auto" name="action" value="No">No :(</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Made with ❤ by <a href = "https://github.com/JamesAuchters">jamesauchters</a> | 	📷 by <a href="https://www.pineivory.com/">Pine&Ivory</a>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/grayscale.min.js"></script>

</body>

</html>
